* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-image: url(/Images/image1.jpg);
}
.conteneur1 {
    width: 40%;
    margin: auto;
    padding-top: 250px;
    padding-bottom: 250px;
}
.titre1 {
    font-size: 70px;
    color: white;
    text-align: center;
}
.par1 {
    font-size: 20px;
    color: white;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 50px;
}
.lien1 {
    display: block;
    width: 25%;
    border: 3px solid darkorange;
    background-color: darkorange;
    color: white;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: .3s;
}
.lien1:hover {
    background-color: transparent;
    border-color: white;
    transition: .3s;
}
.span {
    color: darkorange;
}
.conteneur2 {
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 232, 232);
    padding-bottom: 20px;
}
.contenant1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 20px;
    max-width: 1200px;
    margin: auto;
    width: 100%;
}
.titre2 {
    width: 60%;
    font-size: 30px;
    width: fit-content;
}
.lien2 {
    width: 20%;
    border: 3px solid darkorange;
    text-align: center;
    background-color: darkorange;
    text-decoration: none;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: .3s;
}
.lien2:hover {
    background-color: transparent;
    border-color: darkorange;
    color: darkorange;
    transition: .3s;
}
.contenant2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}
.contenant2-1 {
    width: 30%;
    border: 1px solid white;
    background-color: white;
    margin-bottom: 20px;
    padding: 40px;
    transition: 1s;
}
.contenant2-2 {
    width: 30%;
    border: 1px solid white;
    background-color: white;
    margin-bottom: 20px;
    padding: 40px;
    transition: 1s;
}
.contenant2-3 {
    width: 30%;
    border: 1px solid white;
    background-color: white;
    margin-bottom: 20px;
    padding: 40px;
    transition: 1s;
}
.contenant2-4 {
    width: 30%;
    border: 1px solid white;
    background-color: white;
    padding: 40px;
    transition: 1s;
}
.contenant2-5 {
    width: 30%;
    border: 1px solid white;
    background-color: white;
    padding: 40px;
    transition: 1s;
}
.contenant2-6 {
    width: 30%;
    border: 1px solid white;
    background-color: white;
    padding: 40px;
    transition: 1s;
}
.contenant2-1:hover {
    transform: scale(1.1,1.1);
    transition: 1s;
}
.contenant2-2:hover {
    transform: scale(1.1,1.1);
    transition: 1s;
}
.contenant2-3:hover {
    transform: scale(1.1,1.1);
    transition: 1s;
}
.contenant2-4:hover {
    transform: scale(1.1,1.1);
    transition: 1s;
}
.contenant2-5:hover {
    transform: scale(1.1,1.1);
    transition: 1s;
}
.contenant2-6:hover {
    transform: scale(1.1,1.1);
    transition: 1s;
}
.image1 {
    padding-bottom: 10px;
}
.titre3 {
    padding-bottom: 10px;
}
.par3 {
    padding-bottom: 10px;
}
.par2 {
    padding-bottom: 10px;
}
.lien3 {
    color: darkorange;
    text-decoration: none;
}
.lien3:hover {
    color: black;
}
.contenant3 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.contenant3-1 {
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    margin: auto;
    justify-content: space-between;
}
.contenant3-2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
}
.image3 {
    width: 10%;
    margin-bottom: 100px;
}
.container {
    width: 45%;
}
.contenant3-1-1 {
    width: 40%;
    padding-top: 70px;
}
.titre4 {
    font-size: 50px;
}
.par4 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.par5 {
    margin-bottom: 50px;
}
.lien4 {
    background-color: darkorange;
    border: 3px solid darkorange;
    text-decoration: none;
    padding: 20px 50px;
    color: white;
    transition: .3s;
}
.lien4:hover {
    background-color: white;
    color: darkorange;
    transition: .3s;
}
.contenant3-2 {
    padding-top: 50px;
}
.conteneur4 {
    display: flex;
    flex-direction: row;
    background-image: url(/Images/image14.jpg);
}
.contenant4-1 {
    width: 60%;
    max-width: 600px;
    margin: auto;
    padding-bottom: 80px;
}
.contenant4-2 {
    width: 30%;
}
.titre5 {
    width: 100%;
    color: white;
    font-size: 40px;
    padding-bottom: 30px;
    padding-top: 100px;
}
.par6 {
    color: white;
    padding-bottom: 50px;
}
.contenant4-1-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.lorem {
    display: flex;
    flex-direction: row;
    width: 30%;
    padding-bottom: 50px;
    color: white;
}
.lien5 {
    border: 3px solid darkorange;
    background-color: darkorange;
    padding: 20px 50px;
    text-decoration: none;
    transition: .3s;
    color: white;
}
.lien5:hover {
    background-color: transparent;
    color: darkorange;
    transition: .3s;
}
.contenant5 {
    width: 30%;
    margin: auto;
    padding-top: 70px;
}
.contenant6 {
    display: flex;
    flex-direction: row;
    width: 60%;
    margin: auto;
}
.image5 {
    width: 80%;
}
.titre6 {
    font-size: 50px;
    text-align: center;
}
.par8 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.lien6 {
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 3px solid white;
    border-left-color: darkorange;
    background-color: white;
    padding: 20px 90px;
    margin-top: -60px;
    margin-left: -40px;
    transition: .3s;
}
.lien6:hover {
    background-color: darkorange;
    color: white;
    transition: .3s;
    border-color: darkorange;
}
.lien7 {
    color: darkorange;
    text-decoration: none;
    transition: .3s;
}
.lien7:hover {
    color: black;
    transition: .3s;
}
.par9 {
    padding-top: 20px;
    padding-bottom: 20px;
}